* {
    box-sizing: border-box;
}

:root {
    --font-heading: "Sen", sans-serif;
    --primary-color: #ffb900;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ===================Common============== */
.main-content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}


a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    min-width: 118px;
    padding: 11px 8px;
    background: #171100;
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    -webkit-line-clamp: var(--line-clamp, 2);
}

.break-all {
    word-break: break-all;
}

/* ===================Header================== */
.header {
    padding: 36px 0px 12px;
    background-color: #fffcf4;
}

.fix-header {
    position: sticky;
    top: -24px;
    z-index: 1;
}

.header .menu {
    display: flex;
    align-items: center;
}

.header .navbar {
    margin-left: auto;
}

.header .menu .navbar ul {
    display: flex;
    align-items: center;
}

.header .navbar a {
    position: relative;
    font-weight: 400;
    font-size: 1.6rem;
    color: #5f5b53;
    padding: 8px 21px;
}

.navbar a:hover,
.navbar li.native a {
    text-shadow: 1px 0 0 currentColor;
    color: #171100;
}

.navbar li.native a::after {
    position: absolute;
    display: inline-block;
    left: 21px;
    bottom: 6px;
    content: "";
    height: 2px;
    width: 12px;
    background: #171100;
    border-radius: 1px;
}

.btn-header {
    min-width: 144px;
}

/* ===================== Hero ===================== */
.hero {
    padding: 52px 0 65px 0;
    background-color: #fffcf4;
}

.hero .body {
    display: flex;
}

.hero .body .img-block {
    position: relative;
    width: 48%;
}

.hero .img-block .img-hero {
    display: block;
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
    left: 0;
    top: 0;
}

.hero-summary {
    position: absolute;
    width: 244px;
    padding: 24px;
    background-color: #ffffff;
    right: 0;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    bottom: 48px;
}

.hero-summary .item {
    display: flex;
    align-items: center;
}

.hero-summary .item + .item {
    margin-top: 22px;
}

.hero-summary .item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff9e8;
}

.hero-summary .item:nth-of-type(2) .icon {
    background-color: #fcefff;
}

.hero-summary .item:nth-of-type(3) .icon {
    background-color: #ebeaff;
}

.hero-summary .item .label {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-summary .item .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}
/* Hero-right */
.hero .body .content-block {
    width: 52%;
    padding: 64px 0 0 130px;
}

.hero .content-block .title {
    font-family: var(--font-heading);
    width: 470px;
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero .content-block .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.row {
    display: flex;
    align-items: center;
    gap: 0 28px;
}

.hero .content-block .desc-1 {
    margin-top: 22px;
}

.hero .content-block .row-1 {
    margin-top: 38px;
}

.hero .content-block .row-1 .btn {
    min-width: 180px;
    background-color: var(--primary-color);
    padding: 18px 8px;
}

.hero .content-block .watch-video {
    display: flex;
    align-items: center;
    gap: 14px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.hero .content-block .row-1 .label {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero .content-block .row-1 .icon {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero .content-block .desc-2 {
    margin-top: 48px;
}

.hero .stats {
    margin: 8px 0 0 -10px;
}

.hero .stats strong {
    font-family: var(--font-heading);
    padding: 0 28px 0 10px;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

/* =========================== Courses ==================== */
.courses {
    margin-top: 200px;
}

.courses .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.courses .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .row-top .desc {
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.courses .row-top .img-icon {
    display: flex;
    align-items: center;
    gap: 0px 18px;
}

.courses .row-top .icon {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.courses .row-top .icon:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--primary-color);
}

.course-list {
    margin-top: 55px;
    display: flex;
    gap: 0 30px;
    /* align-items: center; */
}

.course-item {
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
    border: 1px solid #e2dfda;
}

.course-item:hover {
    background: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}

.course-item .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.course-guide {
    padding: 16px 22px 22px;
}

.course-guide .title a {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-guide .row-right span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.course-guide .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.course-guide .row-guide strong {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.course-guide .btn-course:hover {
    background-color: var(--primary-color);
}

/* =================== Feedback ================ */
.feedback {
    margin-top: 135px;
    padding: 96px 0;
    background-color: #2e2100;
}

.feedback-list {
    display: flex;
    overflow: hidden;
}

.feedback-item {
    display: flex;
    width: 100%;
    flex-shrink: 0;
}

.feedback .info .avatar {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    object-fit: cover;
}

.feedback-item .info .title {
    margin-top: 18px;
    font-family: var(--font-heading), sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
}

.feedback-item .info .desc {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.feedback .info .dots {
    margin-top: 28px;
    display: flex;
    gap: 6px;
}

.feedback .info .dot {
    cursor: pointer;
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background-color: #634700;
}

.feedback-item .content {
    width: 66%;
    margin-left: auto;
}

.feedback .info .dot.active {
    cursor: default;
    background-color: var(--primary-color);
}

.feedback-item .content blockquote {
    margin-left: 30px;
    font-weight: 400;
    font-style: italic;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* ================= Features =============== */

.features {
    margin-top: 135px;
    padding: 65px 0;
}

.feature-body {
    display: flex;
}

.features .img-block {
    width: 48%;
    height: 438px;
    position: relative;
}

.features .img-block .feature-img {
    position: absolute;
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.features .img-block .feature-img:first-child {
    bottom: 0;
    left: 0;
}

.features .img-block .feature-img:nth-child(2) {
    top: 0;
    right: 0;
}

.features .info {
    width: 52%;
    padding: 58px 0 58px 130px;
}

.features .info .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.features .info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.features .info .extract {
    margin-top: 16px;
}

.btn-features {
    margin-top: 32px;
    background-color: var(--primary-color);
    min-width: 137px;
}

/* =================== CTA ================== */

.cta {
    margin-top: 135px;
    padding: 65px 0;
}

.cta-body {
    display: flex;
    /* justify-content: space-between; */
}

.cta .info {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cta .info .heading {
    width: 570px;
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.cta .info .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.cta .btn-cta {
    margin-top: 32px;
    min-width: 137px;
    background-color: var(--primary-color);
}

.cta .img-block {
    width: 40%;
}

.cta .img-block .img-cta {
    width: 470px;
    height: 440px;
    border-radius: 20px;
    object-fit: cover;
}

/* ======================== Blogs ==================== */

.blogs {
    margin-top: 200px;
    padding: 96px 0px 140px;
    background-color: #fffcf4;
}

.blogs .info .heading {
    font-family: var(--font-heading);
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}

.blogs .info .desc {
    margin-left: auto;
    margin-right: auto;
    width: 448px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;
}

.blogs .list-blog {
    margin-top: 55px;
    display: flex;
    gap: 0px 30px;
}

.blogs .list-blog .blog-item {
    flex: 1;
    background-color: #ffffff;
    border-radius: 16px;
}

.blogs .list-blog .blog-item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}

.blogs .list-blog .blog-item img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blogs .body-item {
    padding: 20px 20px 28px;
}

.blogs .body-item-top {
    display: flex;
    align-items: center;
}

.blogs .body-item-top .dot {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--primary-color);
    margin-right: 4px;
}

.blogs .body-item-top .time {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blogs .blog-item .seperate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background-color: #e2dfda;
}

.blogs .blog-item .title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blogs .blog-item .blog-btn {
    margin-top: 12px;
}

.blogs .blog-item .blog-btn:hover {
    background-color: var(--primary-color);
}

/* ================== Footer ================= */
.footer {
    padding: 96px 0 28px;
    background-color: #2e2100;
}

.footer .footer-body {
    display: flex;
}

.footer .contact .desc {
    margin-top: 18px;
    width: 267px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .contact-icon {
    display: flex;
    margin-top: 18px;
    gap: 0 18px;
}

.footer .menu {
    display: flex;
    margin-left: 145px;
    gap: 0 130px;
}

.footer .menu-item .title {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #ffffff;
}

.footer .menu-item .seperate {
    width: 130px;
    height: 1px;
    background-color: #59554b;
    margin-top: 14px;
    margin-bottom: 28px;
}

.footer .menu-item .desc {
    white-space: nowrap;
    margin-top: 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb2;
}

.footer .menu-item .desc-1 {
    white-space: normal;
}

.footer .menu-item .desc-1 strong {
    font-weight: 600;
    color: #ffffff;
}

.footer .seperate-2 {
    margin-top: 38px;
    height: 1px;
    background-color: #59554b;
}

.footer .last-desc {
    margin-top: 28px;
    font-size: 14px;
    line-height: 1.86;
    text-align: center;
    color: #807d74;
}
